.container {
    margin: auto;
    border: 3px solid black;
    width: 50%;
    height: 800px;
}

.one {
    width: 95%;
    border: 3px solid black;
    height: 15%;
    margin: auto;
    margin-top: 20px;
    background-color: blue;
}

.two {
    width: 95%;
    height: 50%;
    display: flex;
    margin: auto;
    gap: 10px;
    margin-bottom: 20px;
}

.three {

    width: 95%;
    height: 22%;
    border: 3px solid black;
    margin: auto;
    margin-top: 40px;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.two_1 {
    flex: 5;

    margin: auto;
    margin-top: 20px;

    height: 100%;
}

.two_2 {
    flex: 4;
    margin: auto;
    margin-top: 20px;
    height: 100%;
}


.two_1_1 {
    border: 3px solid black;
    margin: auto;
    background-color: green;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.two_1_2 {
    border: 3px solid black;
    margin: auto;
    margin-top: 30px;
    background-color: blue;
    height: 60%;

}

.two_2_1 {
    border: 3px solid black;
    margin: auto;

    background-color: blue;
    height: 75%;
}

.two_2_2 {
    border: 3px solid black;
    margin: auto;
    margin-top: 30px;
    background-color: green;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

p {
    font-size: 0.5em;
    width: 80%;
    border-top: 3px solid black;


}